html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #a8dadc;
}

.card-title {
  color: #1d3557!important;
}

a {
  text-decoration: none!important;
}